<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <img src="assets/img/logo.png" alt="" style="    width: 100px; margin: 0 auto; display: block; margin-top: 20px;">
            <ul>


                <li class="menu-title" style="margin-top: 30px; text-align: center;">MENU</li>


                <li routerLinkActive="active">
                    <a routerLink="/services"><i class="fa fa-wrench"></i> <span>SERVICES</span></a>
                </li>
                <hr>
                <li routerLinkActive="active">
                    <a routerLink="/branch"><i class="fa fa-building"></i> <span> BRANCH</span></a>
                </li>
                <hr>
                <li routerLinkActive="active">
                    <a routerLink="/registeredusers"><i class="fa fa-users"></i> <span> REGISTERED USERS</span></a>
                </li>
                <hr>

                <li routerLinkActive="active">
                    <a routerLink="/bookings"><i class="fa fa-ticket"></i> <span> BOOKINGS</span></a>
                </li>

            </ul>

        </div>
    </div>
</div>